
#nav{
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left:135px;
    
}
#container{
    z-index: -1;
    opacity: 0;
}
#container2{
    flex-direction: column;
    flex-wrap: wrap;
}
#footer{
    flex-direction: column;
    flex-wrap:wrap;
}
#box-1{
    margin-top:200px;
}
#box-2 {
    height: 60px;
}
#box-2 ul{
    margin:0px 20px;

}
#call{
    margin-right: 30px;
}