#navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}